.about
	&__wrapper
		display: grid
		grid-template-columns: minmax(450px, percent(720, 1760)) 1fr 
		+adap('gap', 80, 20)
		align-items: start
	
	&__left 
		display: grid
		+adap('gap', 40, 20)
	
	&__text 
		display: grid
		+adap('gap', 20, 12)

		+adap('font-size', 20, 16)
		font-weight: 500
	
	&__right
		position: relative
		z-index: 1

	&__img 
		width: 100%
		+adap('height', 324, 300)
	
		+adap('border-radius', 16, 12)
		object-fit: cover
	
	&__logo 
		position: absolute
		left: 50%
		top: 50%
		translate: -50% -50%

		z-index: 2
		+adap('width', 420, minusPercent(30, 420))
		+adap('height', 88, minusPercent(30, 88))
		opacity: .5
	

	&__item 
		display: flex
		aspect-ratio: 1

		&-img 
			width: 100%
			height: 100%

			object-fit: cover
			+adap('border-radius', 16, 12)

	@media (max-width: 991px)
		&__wrapper
			grid-template-columns: 100%
	
	@media (max-width: 575px)
		&__arrow 
			translate: 0 0
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
