.event
	&__title 
		margin-bottom: 12px

	&__subtitle 
		+adap('margin-bottom', 28, 20) 

	&__top 
		display: flex
		align-items: center
		justify-content: space-between
		+adap('gap', 20, 12)
		+adap('margin-bottom', 40, 20)

	&__labels 
		display: flex
		flex-wrap: wrap
		row-gap: 12px
		+adap('column-gap', 20, 12) 

	&__label 
		display: flex
		align-items: center
		+adap('gap', 16, 12)
		padding: em(8) em(24)
		+adap('min-height', 48, 40)

		+adap('border-radius', 40, 24)
		border: 1px solid rgba(#fff, .5)

		color: rgba(#fff, .5)
		+adap('font-size', 16, 14)
		white-space: nowrap

		+t

		+hov
			border-color: $active
			color: $active

		&.active
			border-color: $active
			color: $active

		svg
			+adap('width', 16, 12)
			+adap('height', 16, 12)

			fill: currentColor
			transition: none

	&__date
		align-items: center
		padding-left: em(12)
		padding-right: em(24)
		align-items: center
		gap: 12px
		padding-left: 48px

		white-space: nowrap
		border-color: $active
		color: $active

		span 
			position: static
			translate: 0 0

			color: $active

		input 
			position: absolute
			inset: 0
			padding-left: 40px
			background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8 6H7.2C5.43269 6 4 7.39289 4 9.11111V16.8889C4 18.6071 5.43269 20 7.2 20H16.8C18.5673 20 20 18.6071 20 16.8889V9.11111C20 7.39289 18.5673 6 16.8 6Z' fill='%23FF9900' stroke='%23FF9900' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M8.4 4V7M15.6 4V7M3 10H21' stroke='%23101010' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 12px center / 24px no-repeat

			&:focus-visible
				outline: none

		+hov
			background: none
			color: dark($active, 12%)
			border-color: dark($active, 12%)

		&:focus-within
			outline: 3px solid $active
			outline-offset: -3px

	&__wrapper
		display: grid
		gap: var(--gap)
		--gap: min(12px + 4px, 12px + 4 * ((100vw - 320px) / 1600))
		--min-columns-width: 310px
		--max-columns: 4
		
		grid-template-columns: repeat(auto-fill, minmax(clamp(var(--min-columns-width), 30vw, calc(100% / var(--max-columns) - var(--gap)/var(--max-columns)*(var(--max-columns) - 1))), 1fr))
		
	&__item 
		position: relative 
		z-index: 1
		+adap('min-height', 480, 340)

		+adap('border-radius', 16, 12)
		border: 1px solid #2a2a2a

		overflow: hidden
		cursor: pointer

		+hov
			.event__item-img 
				scale: 1.03

		&:after
			content: ''

			+abs
			background: linear-gradient(180deg, rgba(16, 16, 16, 0) 38.46%, #101010 100%)

		&-img 
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			z-index: -1
			object-fit: cover
			+t(.7)

		&-content 
			position: absolute
			left: 0
			bottom: 0 
			width: 100%
			height: 100%	

			display: grid
			grid-template-rows: auto 1fr
			+adap('gap', 20, 16)	
			+adap('padding', 20, 16)	

		&-top
			display: flex
			align-items: center
			gap: 8px
			justify-content: space-between

		&-date 
			display: flex
			align-items: center
			gap: 12px

			+adap('padding-block', 8, 4)
			+adap('padding-inline', 16, 8)

			background: $active
			+adap('border-radius', 32, 16)

			color: $bg
			font-weight: 600
			+adap('font-size', 16, 12)

			svg 
				+adap('width', 18, 12)
				+adap('height', 18, 12)

				fill: none
				stroke: $bg
		
		&-labels 
			display: flex
			flex-wrap: wrap
			gap: 4px

		&-label 
			display: flex
			align-items: center
			justify-content: center
			flex-wrap: wrap
			+adap('width', 40, 32)
			+adap('height', 40, 32)

			background: $active
			border-radius: 50%

			svg 
				max-width: 50%
				max-height: 50%

				fill: $bg
		
		
		&-bottom 
			display: grid
			+adap('gap', 20, 12)
			grid-template-columns: 100%
			align-self: end
			align-content: end
			justify-items: start

		&-age 
			+adap('padding-block', 8, 4)
			+adap('padding-inline', 16, 12)

			+adap('border-radius', 12, 8)
			border: 1px solid $active
		
			font-weight: 600
			color: $active
		
		&-title 
			+adap('font-size', 24, 20)
			font-weight: 600
			line-height: 1.3

			&:after
				content: ''

				position: absolute
				inset: 0

		&-row 
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap
			gap: 4px
			width: 100%

		&-price 
			display: flex
			align-items: center
			gap: 12px

			color: $active
			font-weight: 600
			white-space: nowrap

			svg 
				+adap('width', 18, 14)
				+adap('height', 18, 14)

				fill: none
				stroke: $active


	@media (max-width: 767px)
		&__labels
			gap: 4px

		&__label	
			gap: 8px
			padding: em(6) em(12)
			min-height: auto

			font-size: 14px
			border-radius: 24px

		&__date 
			padding-left: 28px

			input
				background-size: 18px
				background-position: 8px

	@media (max-width: 575px)
		&__top 
			flex-wrap: wrap
			justify-content: flex-start
			gap: 6px

		&__labels 
			display: contents
		


.single-event
	&__wrapper
		display: grid
		grid-template-columns: percent(700, 1760) 1fr 
		+adap('gap', 60, 20)

	&__left 
		position: relative
		overflow: hidden

	&__img 
		width: 100%
		height: auto
		object-fit: cover
		+adap('border-radius', 20, 16)

		+t 
		+hov
			scale: 1.01

	&__age 
		position: absolute
		+adap('top', 20, 12)
		+adap('right', 20, 12)
		
		+adap('padding-block', 8, 4)
		+adap('padding-inline', 16, 12)

		border: 1px solid $active
		+adap('border-radius', 12, 8)

		font-weight: 600
		color: $active
		

	&__right 
		display: grid
		+adap('gap', 20, 16)
		align-content: start	
		justify-items: start

	&__date 
		display: flex
		align-items: center
		gap: 12px

		color: $active
		font-weight: 600

		svg 
			width: 20px
			height: 20px

			stroke: $active

	&__title 
		+adap('font-size', 56, 32)
		font-weight: 600
		line-height: 1.14
		
	&__link 
		display: flex
		align-items: center
		gap: 12px
		padding-bottom: 4px
		+adap('margin-block', 20, 12)

		color: $active

		border-bottom: 1px solid $active
		+t

		+hov
			border-bottom-color: transparent 

		svg 
			+adap('width', 22, 16)
			+adap('height', 22, 16)

			stroke: currentColor
			transition: none


	&__blocks 
		display: flex
		flex-wrap: wrap
		gap: 12px

	&__block 
		display: grid
		grid-template-columns: 1fr auto 
		align-items: start
		align-content: start
		gap: 12px 20px
		flex-grow: 1
		+adap('padding-block', 40, 20)
		+adap('padding-inline', 40, 16)

		border: 1px solid #2a2a2a
		+adap('border-radius', 16, 12)

		&-title 
			+adap('font-size', 24, 20)
			font-weight: 600

		&-price 
			display: flex
			align-items: center
			gap: 12px

			+adap('font-size', 24, 20)
			font-weight: 600
			color: $active

			svg 
				+adap('width', 24, 20)
				+adap('height', 24, 20)

				stroke: $active
		
		&-button 
			grid-row: span 2
			align-self: end
		
		&-social 
			grid-column: 1/-1
			gap: 12px

			.social
				&__item 
					+adap('width', 32, 24)
					+adap('height', 32, 24)
		
	@media (max-width: 991px)
		&__wrapper
			grid-template-columns: 100%
			justify-items: start
			gap: 20px

		&__right
			display: contents
		
		&__title 
			order: -2

		&__date 
			order: -1

		&__img
			object-fit: contain
		
	@media (max-width: 575px)
		&__block 
			grid-template-columns: 100%

			&-button 
				order: 1
	
		&__link 
			margin-block: 0
	

		
		
		
		
		
		
		
		
		
		
		
		
		

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		



