<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon  -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.webp">
	<link rel="icon" type="image/webp" sizes="32x32" href="assets/img/favicon/favicon.svg">
	<meta name="theme-color" content="#ffffff">

	<!-- Шрифты -->
	<link rel="preload" href="assets/css/fonts.css" as="style" onload="this.rel='stylesheet'">

	<!-- Библиотеки -->
	<link rel="preload" href="assets/css/vendor.css" as="style" onload="this.rel='stylesheet'">

	<!-- Общие стили -->
	@@if (isDev == true) {
	<link rel="stylesheet" href="assets/css/common.css">
	<link rel="stylesheet" href="assets/css/components.css">
	<link rel="stylesheet" href="assets/css/blocks.css">
	}
	@@if (isDev == false) {
	<link rel="stylesheet" href="assets/css/style.css">
	}
	<!-- Индексация -->
	<meta name="robots" content="noindex, nofollow">
	<title>Банкетный зал Заржавели</title>

</head>

<body>
	<div class="wrapper">
		<main class="main flex justify-center align-center">
			<div class="ticket">
				<div class="ticket__top">
					<div class="ticket__title">Торба на круче</div>
					<img src="assets/img/logo-dark.svg" class="ticket__logo" width="170" height="36" alt="" loading="lazy" decoding="async">
					<div class="ticket__subtitle">Большой зимний концерт</div>
				</div>
				<div class="ticket__row">
					<div class="ticket__items">
						<div class="ticket__item">
							<div class="ticket__item-top">Дата события</div>
							<div class="ticket__item-text">00.00.2026</div>
						</div>
						<div class="ticket__item">
							<div class="ticket__item-top">Столик и место</div>
							<div class="ticket__item-text">31 стол 5 место</div>
						</div>
						<div class="ticket__item">
							<div class="ticket__item-top">Серия и номер билета</div>
							<div class="ticket__item-text">2456 - 145 093 283</div>
						</div>
						<div class="ticket__item">
							<div class="ticket__item-top">Стоимость билета</div>
							<div class="ticket__item-text">3 200 ₽</div>
						</div>
					</div>
					<div class="ticket__qr">
						<img src="assets/img/qr.svg" width="92" height="92" alt="" loading="lazy" decoding="async">
					</div>
				</div>
				<div class="ticket__footer">
					<div class="ticket__item">
						<div class="ticket__item-top">Адрес ресторана</div>
						<div class="ticket__item-smalltext">г. Москва, Каширский пр. 25, корп. 4</div>
					</div>
					<div class="ticket__age">18+</div>
				</div>
			</div>
		</main>
	</div>

</body>

</html>
